.adminStudentCount {
    line-height: .5;
    border-radius: 5px;
    text-align: center;
    border: #3F51B5 2px solid;
    padding: 0 5px;
    margin-left: 2px;
}


.adminHeaderContainer {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.adminHeaderContainer .headerRight {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    align-items: center;
    justify-content: space-evenly;
}
.adminHeaderContainer .headerLeft {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.visitAdminContainer {
    
}