.onboarding-page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.onboarding-container {
    width: 70%;
}

.onboarding-container {
    font-size: 150%;
}

.onboarding-container .card-holder-1 {
    display: flex;
    justify-content: center;
}

.onboarding-card {
    border: solid gray 1px;
    width: 50%;
    padding: 2% 7%;
}

.onboarding-card:hover {
    border: solid blueviolet 3px;
}

.onboarding-card img {
    width: 30%;
    height: 30%;
}

.onboarding-card p {
    margin-top: 5px;
    font-size: 70%;
    color: gray;
}

