.onboardingContainer {
    margin: 0 auto;
    border: none;
    box-shadow: none;
}

.onboardingCell {
    display: flex;
    justify-content: center;
}

.schoolFormContainer {
    flex-direction: column;
}
.accountTypeLabel {
    color: #617D8B;
    text-align: left;
    margin: 0;
    padding-left: 35px;
    font-size: .87rem;
}

.schoolListFormContainer {
    display: flex;
}
.schoolListFormContainer {
   
}